*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

form{
    box-shadow: 0 0 10px black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(63,113,244);
    border-radius: 30px;
}

h1{
    position: relative;
    bottom: 60px;
}

.Password{
    font-size: 30px;
    font-weight: 700;
    position: relative;
    right: 150px;
    bottom: 50px;
}

#password{
    height: 30px;
    width: 350px;
    position: relative;
    right: 50px;
    bottom: 70px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.cnfrm-password1{
    font-size: 30px;
    font-weight: 700;
    position: relative;
    right: 80px;
    bottom: 75px;
}

#confrm-password{
    height: 30px;
    width: 350px;
    position: relative;
    right: 51px;
    bottom: 90px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

#message{
    color: white;
    position: relative;
    bottom: 80px;
    right: 5px;
    font-weight: 500;
}

.button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px black;
    background-color: rgb(69,90,100);
    color: white;
    position: relative;
    bottom: 50px;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


